[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "==4.6.1"
bs4 = "==0.0.1"
certifi = "==2018.10.15"
cfscrape = "==1.9.5"
chardet = "==3.0.4"
html5lib = "==1.0.1"
idna = "==2.7"
PyYAML = ">=4.2b1"
requests = "==2.20.0"
six = "==1.11.0"
urllib3 = ">=1.24.2"
webencodings = "==0.5.1"

[dev-packages]

[requires]
python_version = "3.7"
